{% extends 'base.html' %}
{% load static %}
{% block start %}
<section id="contents">
    <div class="container">
        <div class="row">
            {% for records in book_records %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ records.image.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{records.book_name}}</h5>
                        <p class="card-text">{{records.aurthor}}</p>
                        <a href="" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
{% endblock %}