{% extends 'base.html' %}
{% load static %}
{% block start %}
<div class="container mt-5">
    <form class="col-md-8 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="mb-4">Admission Form</h2>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">First Name</label>
                <input name="first_name" value="{{student.first_name}}" required type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Last Name</label>
                <input name="last_name" value="{{student.last_name}}" required type="text" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
  <div class="col-md-6">
    <label for="classSelect" class="form-label">Select Class</label>
    <select class="form-select" value="{{ student.class_name }}" name="class_name"  id="classSelect" required>
      <option value="" disabled selected>Select Class</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <!-- Add more classes -->
    </select>
  </div>

  <div class="col-md-6">
    <label for="sectionSelect" class="form-label">Select Section</label>
    <select class="form-select" name="section" id="sectionSelect" required>
      <option value="" disabled selected>Select Section</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <!-- Add more sections -->
    </select>
  </div>
</div>


        <div class="mb-3">
            <label class="form-label">Parents' Name</label>
            <input name="parents_name" value="{{ student.parents }}" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <input name="address" value="" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Contact Details</label>
            <input name="contact" required type="text" class="form-control">
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Date of Birth</label>
                <input name="dob" required type="date" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Date of Admission</label>
                <input name="doa" required type="date" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
{% endblock %}